@import "~primevue/resources/themes/lara-dark-teal/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.css";

body {
  background: var(--surface-d);
  color: var(--text-color);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}